/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@mixin important($css) {
  @each $property, $value in $css {
    #{$property}: $value !important;
  }
}

.banner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ifm-color-primary);
  color: white;
  width: min(calc(100% - 20px), 500px);
  margin-inline: auto;
  margin-block: 30px;
  border-radius: 20px;
  border: transparent 2px solid;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);

  a {
    text-decoration: none;
  }

  button {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 8px 32px;
    font-size: 1.2rem;

    &:hover {
      background-color: #dadada;
      color: black;
    }
  }

  &-dark {
    border: var(--ifm-color-primary-darker) 2px solid;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);

    button {
      background-color: var(--ifm-color-primary-dark);
      color: white;
      font-weight: bold;
      padding: 8px 32px;
      font-size: 1.2rem;

      &:hover {
        background-color: var(--ifm-color-primary-darker);
        color: white;
      }
    }
  }

  @media screen and (max-width: 996px) {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
}
